<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a>Configure Auto bidding</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <p style="color:white">Welcome {{loggedUser.first_name}} {{loggedUser.last_name}}!
                                    <a class="boxed-btn3" (click)="logOut()" style="margin-left: 12px; padding:0px 2px 0px 2px;font-size: 0.875rem">Log out</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Scopic Auction Test</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb">
                                <img src="assets/img/svg_icon/1.svg" alt="">
                            </div>
                            <div class="jobs_conetent">
                                <a><h4>Automatic bidding configuration</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="apply_job_form white-bg">
                    <p>In this section you can specify maximum bidding amount that you are willing to spend in automatic bidding operation for all of the items that you bid with corresponding bidding option. In case you don't want to use this feature, save '0' amount.</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <p>
                                    Max bidding amount $: <input type="number" id="maxBidAmount" name="maxBidAmount" [(ngModel)]="automaticBidItem.max_bid_amount" placeholder="Set your maximum bid amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01">
                                </p>
                                <p *ngIf="isMaxBidAmountEmpty()" style="font-size:0.75rem;color:red">Max bid amount must be greater o equals to zero</p>
                                <p style="font-size: 0.75rem;">
                                    * You should be aware that this could lead to spending all your funds.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-bottom: 12px;">
                            <div class="submit_btn">
                                <button class="boxed-btn3 w-100" (click)="saveAutoBidItemConfiguration()" type="button">Save Configuration</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="submit_btn">
                                <button class="boxed-btn3 w-100" (click)="loadHomePage()" type="button" style="background:#007bff">Back to Items</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>